{%if request.user.is_authenticated%}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:my-profile' request.user.id %}">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
{% else %}
<li class="nav-item">
    <a class="btn btn-info" href="{% url 'accounts:sign-up' %}">SignUp</a>
</li>
<li class="nav-item">
    <a class="btn btn-link" href="{% url 'login' %}">Login</a>
</li>
<li class="nav-item">   
    <a class="nav-link" href="{% url 'currency:contactus-create' %}">Contact Us</a>
</li>
{% endif %} 
