{% extends 'base.html' %}

{% load static %}

{% block title %}
Source list
{%endblock%}

{% block add_navbar %}
<li class="nav-item">
    <a class="nav-link" href = "{% url 'currency:source-create' %}">Create Source</a>
</li>
{% endblock %}

{% block main_content %}
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Name </th>
            <th scope="col"> URL </th> 
            <th scope="col"> Details </th>
            <th scope="col"> Update </th>
            <th scope="col"> Delete </th>
            <th scope="col"> Avatar </th>
        </tr>
    </thead>
    <tbody>
        {% for source in source_list%}
        <tr>
            <td scope="row">{{source.id}}</td>    
            <td>{{source.name}}</td>
            <td>{{source.source_url}}</td>
            <td><a href="{% url 'currency:source-details' pk=source.pk %}"> Details </a></td>
            <td><a href="{% url 'currency:source-update' pk=source.pk %}"> Update </a></td>
            <td><a href="{% url 'currency:source-delete' pk=source.pk %}"> Delete </a></td>
            {% if source.source_avatar %}
                <td><img src = "{{ source.source_avatar.url }}" alt="Bank avatar" height="50px"></td>
            {% else %}
                <td><img src = "{% static 'images/none_icon_source.jpg' %}" height="50px"></td>
            {% endif %}
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}
