{% extends 'base.html' %}

{% block title %}
Rate list
{%endblock%}

{% block add_navbar %}
<li class="nav-item">
    <a class="nav-link" href = "{% url 'currency:rate-create' %}">Create Rate</a>
</li>
{% endblock %}

{% block main_content %}
<br>
<table class="table table-striped">
    <thead>
        <tr>    
            <th scope="col"> ID </th>
            <th scope="col"> Type </th>
            <th scope="col"> Sell </th> 
            <th scope="col"> Buy </th> 
            <th scope="col"> Source </th>
            {% if request.user.is_authenticated %}
                <th scope="col"> Details </th>
                {% if request.user.is_superuser %}
                    <th scope="col"> Admin actions </th> 
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    {% for rate in rate_list %}
    <tbody>
        <tr>
            <th scope="row">{{rate.id}}</th>    
            <td>{{rate.get_type_display}}</td>
            <td>{{rate.sale}}</td>
            <td>{{rate.buy}}</td>
            <td>{{rate.source}}</td>
            {% if request.user.is_authenticated %}
                <td><a href="{% url 'currency:rate-details' pk=rate.pk %}"> Details </a></td>
                    {% if request.user.is_superuser %}
                    <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                         Admin actions
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'currency:rate-update' pk=rate.pk %}">Update</a>
                          <a class="dropdown-item" href="{% url 'currency:rate-delete' pk=rate.pk %}">Delete</a>
                        </div>
                      </div>
                      </td>
                    {% endif %}
            {% endif %}
        </tr>
    </tbody>
    {%endfor%}
</table>
{% endblock %}
