{% extends 'base.html' %}

{% block title %}
Rate list
{%endblock%}

{% block main_content %}
<a href = "{% url 'currency:rate-create' %}">Create Rate</a>
<br>
<table>
    <tr>
        <td> ID </td>
        <td> Type </td>
        <td> Sell </td> 
        <td> Buy </td> 
        <td> Source </td>
        {% if request.user.is_authenticated %}
            <td> Details </td>
            {% if request.user.is_superuser %}
                <td> Update </td> 
                <td> Delete </td>
            {% endif %}
        {% endif %}
    </tr>
    {% for rate in rate_list %}
    <tr>
        <td>{{rate.id}}</td>    
        <td>{{rate.get_type_display}}</td>
        <td>{{rate.sale}}</td>
        <td>{{rate.buy}}</td>
        <td>{{rate.source}}</td>
        {% if request.user.is_authenticated %}
            <td><a href="{% url 'currency:rate-details' pk=rate.pk %}"> Details </a></td>
                {% if request.user.is_superuser %}
                <td><a href="{% url 'currency:rate-update' pk=rate.pk %}"> Update </a></td>
                <td><a href="{% url 'currency:rate-delete' pk=rate.pk %}"> Delete </a></td>
                {% endif %}
        {% endif %}
    </tr>
    {%endfor%}
</table>
{% endblock %}
